.Home {
    width: 100%;
    padding: 10px 5%;
    display: flex;
    height: 520px;
    flex-direction: column;
    align-items: center;
}

.home__desc {
    padding: 80px 0;
    width: 80%;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-weight: 600;
}

.home__desc span {
    font-size: 54px;
    font-weight: 400;
}

.home__btns {
    display: flex;
    height: 100px;
    align-items: center;
    gap: 60px;
}